* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #333;
    justify-content: center;
    align-items: center;
}

.timer {
    float: right;
    font-size: 50px;
    color: white;
    margin-left: auto;
}

.timer.icon {
    float: inline-start;
    margin-top: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    height: 540px;
    width: 660px;
    perspective: 1000px;
}

.card {
    position: relative;
    /* height: calc(33.3% - 15px);
    width: calc(25% - 15px); */
    margin: 5px;
    transform: scale(1);
    transition: transform .4s ease;
    transform-style: preserve-3d;
}

.card.flip {
    transform: rotateY(180deg);
}


.card:active {
    transform: scale(0.93);
    transition: transform .3s ease-in;
}

.front-card {
    transform: rotateY(180deg);
}

.front-card,
.back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: black;
    padding: 5px;
    backface-visibility: hidden;
}

input {
    height: 30px;
    width: 30px;
    appearance: none;
    background-color: green;
    border-radius: 50%;
    opacity: 0;
}

input:hover {
    cursor: pointer;
}

.tri-state-toggle {
    display: flex;
    justify-content: center;
    border: 3px solid black;
    border-radius: 50px;
    margin-top: 5%;
}

#one {
    background-color: green;
    opacity: 1;
}

#two {
    background-color: yellow;
}

#three {
    background-color: red;
}

.novojogo {
    background-color: green;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: 100px;
    height: 35px;
    border: 3px solid transparent;
    border-radius: 9px;
    margin-bottom: 5%;
}

.novojogo:hover {
    cursor: pointer;
    background-color: green;
    transition: all linear .1s;
}

.novojogo:active {
    color: black;
    transform: translateY(1px);
}